@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");

body {
	font-family: "Inter", sans-serif;
	text-decoration: none;
	background-color: #1e1e1e;
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 12px;
	background-color: black;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #222;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: white;
}

.title {
    color:white;
}
body {
    background-image: linear-gradient(to right, rgb(255, 0, 0) , rgb(0, 0, 0));
}
h2 {
    color:white;
}
.fixed-nav-bar-right .navbar-link {
    color:white
}
#INImg {
    content: url("/main.png");
}
.searchbar {
    background-color: transparent;
    border-color: white;
    border-radius: 2vw;
    border: solid .5vw;
    color: white
}
.column {
    background-color: #ff383880;
}
input {
    background-color: #ff3b3b80;
}
select {
    background-color: #ff474780;
}
.settings-card {
    background-color: #ff5d5d;
}
.key-button {
    background-color: #ff686880;
}
.key-form {
    background-color: #ff585880;
}


